body {
    background: #eee;
}

.hide {
    display: none !important;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-size: 30px;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0f0f0f;
    margin: 20px 30px;
}

.header_menu {
    position: relative;
}

.header_menu .menu_btn {
    background: transparent;
    border: none;
    cursor: pointer;
    
}

.header_menu .menu_btn svg {
    width: 25px;
    height: 25px; 
}

.header_menu .menu_list {
    margin: 0;
    padding: 10px 20px;
    list-style-type: none;
    border-radius: 4px;
    background: #e2e2e2;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: menu-showing .3s;
}

.header_menu .menu_link {
    font-size: 20px;
    line-height: 20px;
    color: #000;
    text-decoration: none;
}

.info_title {
    font-size: 30px;
}

.info_fullname {
    font-size: 25px;
}

.info {
    background: rgb(151, 203, 196);
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 40px;
    font-size: 20px;
}

.list {
    padding: 0px 10px;
    list-style: none;
}

.list li{
    margin-bottom: 10px;
    font-size: 20px;
}

.portfolio {
    background: rgb(182, 170, 230);
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 40px;
    font-size: 20px;
}

.mycode {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.portfolio_btn {
    background: #e2e2e2;
    font-size: 17px;
    padding: 14px 20px;
    border: none;
    border-radius: 15px;
    margin: 0 0 20px 0;
}

.portfolio_btn:hover {
    cursor: pointer;
}

.portfolio_btn:active {
    background: #d6d6d6;
}

a {
    color: #282828;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

@keyframes menu-showing {
    from {
        transform: translateY(95%);
    }
}